---
layout: default
---
<div>
   <section class="header-section  text-center">
      <div class="jumbotron header-container">
         <div class="container">
            <h1 class="fa-color">{{ site.title }}</h1>
            <p>{{ site.description }}</p>
            <p><a id="getstarted" class="btn btn-home" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Get started</a></p>
         </div>
      </div>
   </section>
   <section>
      <div class="container">
         <div class="container">
            <div class="row">
               <div class="col-sm-4 ">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">
                           <i class="fa fa-lightbulb-o fa-3x fa-color"></i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Actor Model</h3>
                           <p>
                              Proved model for concurrent, stateful and scalable applications.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">
                           <i class="fa fa-3x fa-color">
                           &lambda;
                           </i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Serverless</h3>
                           <p>Built on top of AWS Lambda, so you don't need to manage complex cluster.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">
                           <i class="fa fa-language fa-3x fa-color"></i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Language agnostic</h3>
                           <p>Write your actors in any language supported by AWS Lambda.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="download-section">
      <div class="container">
         <h1>About MQLess</h1>
         <div>
            <span>
               <p>MQLess is a router in front of AWS Lambda. When you send a message to an actor, MQLess queue the message to the actor's mailbox and activate the actor on AWS Lambda.
                  When the actor is done processing the message, MQLess send the response back to the caller and process the next message on the mailbox.
               </p>
            </span>
         </div>
         <div>
           <p><a id="getstarted2" class="btn btn-home" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Get started</a></p>
         </div>
      </div>
   </section>
</div>
