---
layout: default
---
<div>
   <section class="header-section  text-center">
      <div class="jumbotron header-container">
         <div class="container">
            <h1 class="fa-color">{{ site.title }}</h1>
            <p>{{ site.description }}</p>
            <p><a id="getstarted" class="btn btn-home" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Get started</a></p>
         </div>
      </div>
   </section>
   <section>
      <div class="container">
         <div class="container">
            <div class="row">
               <div class="col-sm-4 ">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">                                          
                           <i class="fa fa-lightbulb-o fa-3x fa-color"></i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Simple</h3>
                           <p>MQLess doesn’t have hierarchy or supervisors. MQLess is not a cluster, it is the router in front of the AWS Lambda.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">                                          
                           <i class="fa fa-battery-full fa-3x fa-color"></i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Avaiable</h3>
                           <p>MQLess actor always exists virtually, you don’t need to create or stop actors. Simply, just send them a message.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="well home-info">
                     <div class="row">
                        <div class="col-sm-12 text-center">                                          
                           <i class="fa fa-language fa-3x fa-color"></i>
                        </div>
                        <div class="col-sm-12">
                           <h3>Language agnostic</h3>
                           <p>MQLess is language agnostic, you can write your actors in any language supported by AWS Lambda.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="download-section">
      <div class="container">
         <h1>About MQLess</h1>
         <div>
            <span>
               <p>MQLess is a router in front of AWS Lambda. When you send a message to an actor, MQLess queue the message to each actor mailbox and activate the actor on AWS Lambda.
                  When the actor is done processing the message, MQLess send the response back to the caller and process the next message on the mailbox.
               </p>
            </span>
         </div>
         <div>
            <button class="btn btn-home" href="https://github.com/mqless/mqless.github.io/releases">Download now</button>
         </div>
      </div>
   </section>
</div>